@model TechyolProject.Models.Category
@{
}

<h2 class="mt-4">Kategori Ekle</h2>
<form asp-action="AddCategory" method="post">
    <div class="form-group mt-4">
        <label asp-for="CategoryName" class="form-label">Kategori İsmi</label>
        <input asp-for="CategoryName" class="form-control" placeholder="Kategori İsmi"></input>
        <span asp-validation-for="CategoryName"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Ekle</button>

</form>
